header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  margin-left: 25rem;
  width: 75%;
  height: 4rem;
  padding: 1rem;
  justify-content: space-between;
  img {
    cursor: pointer;
  }
  .searchBar {
    gap: 2rem;
    input {
      border: 1px solid #e5e5e5;
      border-radius: 1rem;
      width: 200px;
      height: 3rem;
      padding: 1rem 2rem;
    }
    .search {
      position: relative;
      left: 90%;
      top: 10%;
      width: 1.5rem;
    }
  }
}
