* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
li {
  list-style: none;
}
span {
  display: inline-block;
}
input {
  outline: none;
}
a {
  color: #000 !important;
  outline: none;
  text-decoration: none !important;
}
button {
  outline: none;
  cursor: pointer;
}
.flex-class {
  display: flex;
}
.grid-class {
  display: grid;
}
